/**
 Cross-browser reset: Makes sure that site looks same
 on all browsers, using the universal selector.

 By default, browsers apply some default margin/padding. This
 gives us a clean start
 */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /* This will enable all elements to inherit box-sizing from body selector */
}

html {
  font-size: 62.5%; /* This enables us to leverage user browser font-size setting */
}

body {
  box-sizing: border-box; /* Borders & padding are not added to total height & width */
}
